*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Popins', sans-serif;
    text-decoration: none;
    list-style: none;
}
:root{
    --bg-color: #222327;
    --text-color: #fff;
}
body
{
    background: var(--bg-color);
    color: var(--text-color);
    min-height: 100vh;
    overflow-x: hidden;
}
header
{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--bg-color);
    padding: 20px 12%;
    transition: all .50s ease;
    box-shadow: 0 15px 5px rgba(0,0,0,0.05);
}
.logo
{
    display: flex;
    align-items: center;
    color: var(--text-color);
}
.logo i{
    color: var(--text-color);
    font-size: 35px;
    margin-right: 5px;
}
.logo span{
    color: var(--text-color);
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}
.navbar{
    display: flex;
}

.navbar a{
    color: var(--text-color);
    font-size: 1rem;
    font-weight: 500;
    padding: 5px 0;
    margin: 0 30px;
    transition: all .50s ease;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}
.navbar a:hover{
    color: #7c8cd1;
}
.navbar a.active{
    color: #7c8cd1;
}
.burger{
    display: flex;
    align-items: center;
}
.burger a{
    margin-right: 25px;
    margin-left: 10px;
    background-color:#f9004d;
    color: white;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}
.burger a:hover{
    background-color: transparent;
    color: #b0f462;
    border: 2px solid #406b0f;
    cursor: pointer;}
#menu-icon{
    font-size: 35px;
    color: var(--text-color);
    cursor: pointer;
    z-index: 10001;
    display: none;
}
.about{
    z-index: 100;
    padding-top: 100px;
    background-color: #222327;
    box-shadow: 0 15px  5px rgba(0,0,0,0.05);
}
#gojoImg img {
    object-fit: cover;
    margin-right: 60px;
    height: 600px;
    width: 400px;
    border-radius: 100px;
    box-shadow: 0 0 20px rgba(241, 227, 227, 0.09);
}

.about-text{
    width: auto;
}
#mainInfo{
    width: 100%;
    max-width: 95%;
    margin: 0 auto;
    padding: 20px 10%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: all .50s ease;

}
.about-text h2{
    color: white;
    font-size: 50px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.about-text h5{
    color: white;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
}
.about-text p{
    color: #fcfc;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}
button{
    background-color:#f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}
button:hover{
    background-color: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
}
#personalDescription{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 12%;
}
#personalDescription table{
    margin: 25px 0;
    font-size: 18px;
    font-family: sans-serif;
    width: 100%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
}
.table-name{
    background-color: #213645;
    color: #ffffff;
}
.raw-name{
    background-color: #202125;
}
table th,
table td {
    padding: 12px 15px;
}
table tbody tr {
    border-bottom: 1px solid #dddddd;
}
table tbody tr:last-of-type {
    border-bottom: 2px solid #213645;
}
@media (max-width: 1460px){
    header{
        padding: 14px 2%;
        transition: .2s;
    }
    .navbar a{
        padding: 5px 0;
        margin: 0 20px;
    }
    #mainInfo{
        padding: 14px 2%;
        transition: .2s;
    }
}
@media (max-width: 1090px){
    #menu-icon{
        display: block;
    }
    .navbar{
        position: absolute;
        background: var(--bg-color);
        top: 100%;
        right: -100%;
        width: 100%;
        height: max-content;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        transition: all .50s ease;
    }
    .navbar a{
        display: block;
        margin: 12px 50px;
        padding: 0 25px;
        transition: all .50s ease;
    }
    .navbar a:hover{
        color: var(--text-color);
        transform: translateY(5px);
    }
    .navbar a.active{
        color: var(--text-color);
    }
    .navbar.open{
        right: 2%;
    }
    .burger a{
        padding: 10px 25px ;
    }
    .about{

    }

}
@media (max-width: 952px) {
    #gojoImg img {
        margin-right: 0;
    }
    #mainInfo{
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transition: .2s;
    }
    .about-text h2{
        text-align: center;
        font-size: 40px;
        margin-top: 40px;
        margin-bottom: 20px;
        transition: .3s;
    }
    .about-text h5{
        text-align: center;
        letter-spacing: 2px;
        font-size: 22px;
    }
    .about-text p{
        font-size: 18px;
    }
    button{
        margin: 0 auto;
        display: block;
    }
    button:hover{
        background-color: transparent;
        border: 2px solid #f9004d;
        cursor: pointer;
    }
}
@media (max-width: 500px) {
    .about-text h2{
        font-size: 32px;
    }
    .about-text h5{
        letter-spacing: 1px;
        font-size: 18px;
    }
    .about-text p{
        font-size: 16px;
    }
}